/*
  Colour Palette
  - Dark Blue: #009 - rgb(0,0,153)
  - Teal: #09C - rgb(0,153,204)
  - Neon Teal: #0CC - rgb(0,204,204)
  - Light Neon: #0FC - rgb
  - Grey: #666 - rgb(102,102,102)
 */

@charset "UTF-8";
/* CSS Document */

.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	padding: 0.75em 1em;
	background-color: #009;
	background-image: linear-gradient(to bottom, #009, #09C);
	border-radius: 4px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	color: #fff;
	font-weight: bold;
}

.btn-alt,
.btn-alt:link,
.btn-alt:visited {
	background-color: #5d8432;
	background-image: linear-gradient(to bottom, #5d8432, #3b6210);	
}

.btn-2,
.btn-2:link,
.btn-2:visited {
	display: inline-block;
	padding: 0.75em 1em;
	background-color: #009;
	background-image: linear-gradient(to bottom, #09C, #0CC);
	border-radius: 25px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	color: #fff;
	font-weight: bold;
}

.btn-2-alt,
.btn-2-alt:link,
.btn-2-alt:visited {
	background-color: #5d8432;
	background-image: linear-gradient(to bottom, #5d8432, #3b6210);	
}
